html {
  color: #000;
  height: 95rem;
}

body {
  max-width: 694px;
  width: 100%;
  background-color: #fff;
}

h1 {
  font-family: Georgia;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #fff;
  color: #fff;
  text-shadow: 2px 3px #000;
}

.sans {
  font-family: Verdana;
}

figure {
  margin-top: .25em;
}

a {
  color: #000;
}

.figc-1 {
  font-family: Georgia;
  width: 100%;
  font-size: .94em;
}

.figc-2 {
  font-family: Georgia;
  width: 100%;
}

.gradient {
  background-image: linear-gradient(to bottom, rgba(28, 14, 0, .75), rgba(0, 0, 0, 0));
  background-size: cover;
  background-position: 0 .22em;
  display: block;
  width: 100%;
}

.fig-border {
  border-top: 2px solid rgba(28, 14, 0, .5);
  border-bottom: 2px solid rgba(28, 14, 0, .5);
}

.head-border {
  border-top: 2px solid rgba(28, 14, 0, .5);
}

.img-border {
  border-bottom: 2px solid rgba(28, 14, 0, .5);
}

@media only screen and (min-width: 25em) {

  html {
    height: 100rem;
  }

  .figc-1 {
    line-height: 1.3;
  }

}

@media only screen and (min-width: 38em) {

  html {
    height: 120rem;
  }

  .figc-1 {
    font-size: 1rem;
  }

}

@media only screen and (min-width: 60em) {

  html {
    background-color: #bea586;
    background-image: url("../sloth-bg.svg");
    background-size: 48px;
    background-position: left;
    background-repeat: repeat;
    height: 138rem;
    font-size: 1.2rem;
  }

}

@media only screen and (min-width: 90em) {

  html {
    height: 150rem;
    font-size: 1.3rem;
  }

  body {
    max-width: 750px;
  }

}
